:root {
  --mint: #98eecc;
  --spearmint-green: #76c7c0; /* A refreshing spearmint green */
  --light-mint: #a4dede; /* A lighter shade of mint */
  --mint-cream: #f1fff0; /* A soft, creamy white with a hint of green */
  --pure-white: #ffffff; /* Pure white for contrast */
  --transition: all 0.3s ease-in-out;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #efefee;
  /* background-color: var(--pure-white); */
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.6rem;
}

button {
  border: none;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.word-app-header {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--spearmint-green);
}

.word-app-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.word-app-header-title {
  color: var(--spearmint-green);
  /* text-shadow: 1px 1px rgba(127, 127, 127, 0.807); */
  font-weight: 300;
}

.word-app-header-title i {
  color: var(--spearmint-green);
}

.word-app-header-title span {
  font-size: 2.6rem;
}

.word-app-header-link {
  color: var(--spearmint-green);
  font-weight: 300;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  background-color: var(--mint-cream);
  display: inline-block;
  padding: 1rem 1.6rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -10px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-size: 2rem;
}

.word-app-header-link:hover {
  color: var(--light-mint);
  transition: 0.3s ease;
  box-shadow: none;
}

.word-app-searchbox {
  margin-top: 3rem;
}

.word-app-searchbox-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-element {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mint-cream);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -10px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.form-icon,
#submit-btn {
  font-size: 2.4rem;
  margin: 0 1.6rem;
  color: var(--spearmint-green);
}
.form-input::placeholder {
  color: var(--spearmint-green);
}

.form-input {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border: 1px solid var(--light-mint);
  outline: 0;
  color: var(--spearmint-green);
  border-radius: 10px;
  width: 100%;
}

/* h1 {
  border: 1.4px solid var(--light-mint);
  max-width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin-top: 50px;
  border-radius: 4px;
  color: rgb(123, 130, 137);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -10px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-weight: lighter;
  text-shadow: 1px 1px 2px rgba(118, 199, 192, 0.807);
}

span {
  font-family: "Roboto";
  font-weight: 100;
}

#fasearch {
  color: var(--light-mint);
}
 */
